<%- include("partials/navbar.ejs") %>
<div class="ui fluid container" id="artists">
  <div class="container">
    <div class="ui center aligned stackable grid" id="grid">
      <div class="row">
        <h1 id="page-heading">Your Favourite Artists</h1>
      </div>
      <hr>
      <div class="row">
        <div class="ui stackable four column grid">
          <% data.forEach(artist => { %>
          <div class="column">
            <div class="ui link cards">
              <div class="ui green centered card" id="artist-card">
                <div class="image">
                  <img src="<%= artist.images[0].url %>" alt="Artist Image" id="artist-image">
                </div>
                <div class="content">
                  <div class="header"> <span class="artist-name"><%= artist.name %></span>
                  </div>
                  <div class="meta">
                    <a class="followers">Followers: <%= artist.followers.total %></a>
                  </div>
                  <div class="description genre">
                    Genre:
                    <% artist.genres.forEach(genre => { %>
                    <%= genre %>,
                    <% }) %>
                  </div>
                </div>
                <div class="extra content">
                  <span>
                    <i class="user icon"></i>
                    Popularity: <%= artist.popularity %>
                  </span>
                </div>
                <a href="<%= artist.external_urls.spotify %>" target="_blank">
                  <div class="ui bottom green attached button">
                    <i class="external alternate icon"></i>
                    Open Profile
                  </div>
                </a>
              </div>
            </div>
          </div>
          <% }) %>
        </div>
      </div>
    </div>
  </div>
  <!-- Sidebar and stuff  -->
</div>
</div>
</div>

<script>
  var numbers = document.querySelectorAll('.followers');

  function numberWithCommas(x) {
    var pattern = /(-?\d+)(\d{3})/;
    while (pattern.test(x))
      x = x.replace(pattern, "$1,$2");
    return x;
  }

  numbers.forEach(item => {
    var result = numberWithCommas(item.textContent);
    item.textContent = result;
  });
</script>

<script>
  const heading = document.querySelectorAll('#page-heading')[0].textContent;
  const navItems = document.querySelectorAll('a.item');
  navItems.forEach(item => {
    if (item.textContent === heading) {
      console.log('done')
      item.classList.add('green');
      item.classList.add('active');
    } else {
      console.log('Not found');
    }
  });
</script>

<%- include("partials/footer.ejs") %>