<%- include("partials/navbar.ejs") %>
<div class="ui fluid container" id="artists">
  <div class="container">
    <div class="ui center aligned stackable grid" id="grid">
      <div class="row">
        <h1 id="page-heading">Your Favourite Tracks</h1>
      </div>
      <hr>
      <div class="one column row">
        <div class="ui stackable four column grid">
          <% data.forEach(track => { %>
          <div class="column">
            <div class="ui special cards">
              <div class="ui green centered card" id="card">
                <div class="blurring dimmable image">
                  <div class="ui dimmer">
                    <div class="content">
                      <div class="center">
                        <a href="<%= track.external_urls.spotify %>" target="_blank">
                          <div class="ui inverted green button">
                            <i class="spotify icon"></i>
                            Open In Spotify
                          </div>
                        </a>
                        <a href="<%= track.preview_url %>" target="_blank">
                          <div class="ui black button">
                            Preview
                          </div>
                        </a>
                      </div>
                    </div>
                  </div>
                  <img src="<%= track.album.images[0].url %>" id="track-image">
                </div>
                <div class="content">
                  <a class="header track-name" href="<%= track.external_urls.spotify %>"
                    target="_blank"><%= track.name %></a>
                  <div class="meta">
                    <span>Artists: <% track.artists.forEach(artist => { %>
                      <a href="<%= artist.external_urls.spotify %> "><%= artist.name %></a>
                      <% }) %> </span>
                  </div>
                  <div class="description">
                    Duration: <span class="duration"><%= track.duration_ms %></span>
                    <br>
                    Released On <%= track.album.release_date %>
                  </div>
                </div>
                <div class="extra content">
                  <a>
                    <i class="users icon"></i>
                    Popularity: <%= track.popularity %>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <% }) %>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Sidebar and stuff  -->
</div>
</div>
</div>
<%- include("partials/footer.ejs") %>